.promo
  
  .bg-primary,
  .bg-secondary,
  .bg-terc-two
    text-align: left
    padding-left: 7%
    padding-right: 7%
    padding-top: 7.5em
    padding-bottom: 7.5em

  .img-box-1
    background: url(../img/cakepops.png)
    background-size: cover
    background-position: center

  .img-box-2
    background: url(../img/fun-team.JPG)
    background-size: cover
    background-position: center

  .img-box-3
    background: url(../img/fruitCookies-copy.jpg)
    background-size: cover
    background-position: center

  .img-box-4
    background: url(../img/specialCookies-copy.jpg)
    background-size: cover
    background-position: center

  .img-box-5
    background: url(../img/alyssa-copy.jpg)
    background-size: cover
    background-position: left top

  .img-box-6
    background: url(../img/daniel-copy.jpg)
    background-size: cover
    background-position: left top